# API Settings
PROJECT_NAME=Life Link SOS Backend
API_V1_STR=/api/v1
SECRET_KEY=yoursecretkeyhere
ACCESS_TOKEN_EXPIRE_MINUTES=11520

# MongoDB
MONGODB_URL=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/?appName=Cluster0
MONGODB_NAME=lifelink_sos

# Device Auth
DEVICE_API_KEY=antigravity_secret_123

# AES-256 (32 bytes key in hex, 16 bytes IV in hex)
AES_KEY=
AES_IV=

# CORS
CORS_ORIGINS=*
