.main-layout {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--bg-app);
}

@media (max-width: 768px) {
    .main-layout {
        flex-direction: column-reverse;
    }
}

.content-area {
    flex: 1;
    display: flex;
    position: relative;
    overflow: hidden;
}